
body{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('https://www.indezine.com/powerpoint/freeppt/templates/t_ind_4297a.jpg')
}
header{
    font-size:100px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:midnightblue;
    font-style: oblique ;
    font-display:initial;
    text-align: center;
    text-decoration: midnightblue;
    text-emphasis-style:initial;
    background-color: rgb(241, 175, 221);
    background-position: center;
}

article p{
    text-align:justify;
    font-weight: 10px;
    font-size: 20px;
    font-family:cursive;
}
img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}
div li {
 text-decoration: rgb(38, 0, 255);
 font-family:cursive ;
 font-size: large;

}

h2{
    text-align: center;
    text-anchor: start;
    font-weight: bold;
  color:rgb(48, 4, 48);
  font-size: 32px;
    
}

ol {
    list-style-type:lower-greek;
    padding-left: 10%;
    text-align:justify;
    text-decoration: blueviolet;
    font-family:cursive ;



}

